@using Daily.Models
@using Daily.Services
@inject IWidgetService WidgetService
@inject IWindowManagerService WindowManager

<div class="masonry-grid">
    @foreach (var widget in _widgets)
    {
        <div class="masonry-item">
            <MudPaper Class="pa-4 glass-panel" Elevation="0" Square="false" Style="">
                @if (widget.ComponentType != "RssFeedWidget")
                {
                    <div class="d-flex align-center justify-space-between">
                         <MudText Typo="Typo.h6">@widget.Title</MudText>
                         <MudIconButton Icon="@Icons.Material.Filled.OpenInNew" Size="Size.Medium" OnClick="@(() => OpenWidgetDetail(widget))" Color="Color.Primary" Style="transform: scaleX(-1);" />
                    </div>
                    <MudDivider Class="my-2" />
                }
                @if (widget.ComponentType == "WeatherWidget")
                {
                    <Daily.Components.Widgets.WeatherWidget OnLocationLoaded="@(title => UpdateWidgetTitle(widget, title))" />
                }
                else if (widget.ComponentType == "CalendarWidget")
                {
                    <Daily.Components.Widgets.CalendarWidget />
                }
                else if (widget.ComponentType == "SystemInfoWidget")
                {
                    <Daily.Components.Widgets.SystemInfoWidget />
                }
                else if (widget.ComponentType == "NotesWidget")
                {
                    <Daily.Components.Widgets.NotesWidget />
                }
                else if (widget.ComponentType == "RssFeedWidget")
                {
                    <Daily.Components.Widgets.RssFeedWidget>
                        <HeaderAction>
                            <MudIconButton Icon="@Icons.Material.Filled.OpenInNew" Size="Size.Medium" OnClick="@(() => OpenWidgetDetail(widget))" Color="Color.Primary" Style="transform: scaleX(-1);" />
                        </HeaderAction>
                    </Daily.Components.Widgets.RssFeedWidget>
                }
                else if (widget.ComponentType == "MediaWidget")
                {
                    <Daily.Components.Widgets.MediaWidget />
                }
                else
                {
                    <MudText>Unknown Widget Type: @widget.ComponentType</MudText>
                }
            </MudPaper>
        </div>
    }
</div>

@code {
    private List<WidgetModel> _widgets = new();

    protected override async Task OnInitializedAsync()
    {
        _widgets = await WidgetService.GetWidgetsAsync();
    }

    private void UpdateWidgetTitle(WidgetModel widget, string newTitle)
    {
        widget.Title = newTitle;
        StateHasChanged();
    }

    private void OpenWidgetDetail(WidgetModel widget)
    {
        if (widget.ComponentType == "SystemInfoWidget")
        {
            WindowManager.OpenDetail("SystemInfo", widget.Title);
        }
        else if (widget.ComponentType == "RssFeedWidget")
        {
            WindowManager.OpenDetail("RssFeed", widget.Title);
        }
        else if (widget.ComponentType == "MediaWidget")
        {
            WindowManager.OpenDetail("Media", "Recommendations");
        }
        else if (widget.ComponentType == "WeatherWidget")
        {
            WindowManager.OpenDetail("Weather", "Weather Detail");
        }
        else
        {
            // Ensure we reset the view to default/reading pane so we don't show stale SystemInfo
             WindowManager.OpenDetail("ReadingPane", "Reading Pane");
        }
    }
}
